pip==24.0.0
streamlit==1.8.0
spacy>=2.2.0,<3.0.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
PyPDF2==3.0.1
matplotlib==3.4.2
seaborn==0.11.1

