pip==24.2
streamlit==1.23.0
spacy>=3.5.0,<4.0.0
PyPDF2==3.0.1
matplotlib==3.9.2
seaborn==0.13.2
pillow==9.4.0
wheel==0.37.1
setuptools==65.5.0

# Include this line to download and install the model
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.5.0/en_core_web_md-3.5.0.tar.gz
