pip==24.2
streamlit==1.23.0
spacy>=2.2.0,<4.0.0# Updated to a compatible version with Python 3.9
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.2/en_core_web_sm-3.7.2.tar.gz#egg=en_core_web_sm  # Updated the model version
PyPDF2==3.0.1
matplotlib==3.9.2
seaborn==0.13.2
pillow==9.4.0
wheel==0.37.1
setuptools==65.5.0
